In [2]:
%load_ext sql

In [3]:
# Connecting to Database
%sql postgresql://postgres:postgres@localhost/instagrammers

In [4]:
# This script gives able to display results of SQL queries
from prettytable import PrettyTable, PLAIN_COLUMNS
table = PrettyTable()
table.set_style(PLAIN_COLUMNS)

%config SqlMagic.style = 'PLAIN_COLUMNS'

/var/folders/m4/txcpxbmd1096vr9sz2ccybqr0000gn/T/ipykernel_33722/2727922173.py:2: DeprecationWarning: the 'PLAIN_COLUMNS' constant is deprecated, use the 'TableStyle' enum instead
  from prettytable import PrettyTable, PLAIN_COLUMNS

In [5]:
%%sql

-- Top 3 by Followers Analysis

-- Campaign Idea = Product Placement
-- The conversion rate 0.02
-- The product cost $300
-- The campaign cost Campaign Cost (one-time fee) $75,000

WITH top_influ_by_followers AS (
    SELECT
        name,
        authentic_engagement,
        followers
    FROM
        top_50
)
SELECT
    name,
    authentic_engagement AS avg_authentic_engagement_pr_post,
    (authentic_engagement * 0.02) AS potential_units_pr_interactions,
    (authentic_engagement * 0.02 * 300) AS potential_revenue_pr_post,
    (authentic_engagement * 0.02 * 300 - 75000) AS net_profit
FROM
    top_influ_by_followers
WHERE 
    name IN ('kyliejenner', 'selenagomez', 'kimkardashian')
ORDER BY
    net_profit DESC;

 * postgresql://postgres:***@localhost/instagrammers
3 rows affected.

[('kimkardashian', Decimal('1700000'), Decimal('34000.00'), Decimal('10200000.00'), Decimal('10125000.00')),
 ('selenagomez', Decimal('1400000'), Decimal('28000.00'), Decimal('8400000.00'), Decimal('8325000.00')),
 ('kyliejenner', Decimal('1200000'), Decimal('24000.00'), Decimal('7200000.00'), Decimal('7125000.00'))]

In [6]:
%%sql
 
-- Top 3 by Avg Authentic Engagement Analysis
 
-- Capmpaign Idea = Influencer Marketing
-- The conversion rate 0.02
-- The product cost $300
-- The campaign cost Campaign Cost (3-month contract) $140,000 
 
WITH top_influ_by_eng AS (
    SELECT
        name,
        authentic_engagement,
        followers
    FROM
        top_50
)
SELECT
    name,
    authentic_engagement AS avg_authentic_engagement_pr_post,
    (authentic_engagement * 0.02) AS potential_units_pr_interactions,
    (authentic_engagement * 0.02 * 300) AS potential_revenue_pr_post,
    (authentic_engagement * 0.02 * 300 - 140000) AS net_profit
FROM
    top_influ_by_eng
WHERE 
    name IN ('zendaya', 'kendalljenner', 'harrystyles')
ORDER BY
    net_profit DESC;

 * postgresql://postgres:***@localhost/instagrammers
3 rows affected.

[('zendaya', Decimal('4300000'), Decimal('86000.00'), Decimal('25800000.00'), Decimal('25660000.00')),
 ('kendalljenner', Decimal('3000000'), Decimal('60000.00'), Decimal('18000000.00'), Decimal('17860000.00')),
 ('harrystyles', Decimal('2100000'), Decimal('42000.00'), Decimal('12600000.00'), Decimal('12460000.00'))]

In [7]:
%%sql
-- Top 3 by Engagement Rate Analysis

-- Campaign Idea = Sponsored Post Series
-- The conversion rate = 0.02
-- The product cost = $300
-- The campaign cost (per-post) = $7,500
-- The number of posts 11

WITH top_influ_by_eng_rate AS (
    SELECT
        name,
        authentic_engagement,
        followers
    FROM
        top_50
)
SELECT
    name,
    authentic_engagement AS avg_authentic_engagement_pr_post,
    (authentic_engagement * 0.02) AS potential_units_pr_interactions,
    (authentic_engagement * 0.02 * 300) AS potential_revenue_pr_post,
    (authentic_engagement * 0.02 * 300 - 7500) AS net_profit_pr_post,
    ((authentic_engagement * 0.02 * 300 - 7500) * 11) AS total_net_profit
FROM
    top_influ_by_eng_rate
WHERE 
    name IN ('vinniehacker', 'anguscloud', 'barbieferreira')
ORDER BY
    total_net_profit DESC;

 * postgresql://postgres:***@localhost/instagrammers
3 rows affected.

[('anguscloud', Decimal('831000'), Decimal('16620.00'), Decimal('4986000.00'), Decimal('4978500.00'), Decimal('54763500.00')),
 ('vinniehacker', Decimal('695700'), Decimal('13914.00'), Decimal('4174200.00'), Decimal('4166700.00'), Decimal('45833700.00')),
 ('barbieferreira', Decimal('620000'), Decimal('12400.00'), Decimal('3720000.00'), Decimal('3712500.00'), Decimal('40837500.00'))]